<div id="multi-item-example" class="carousel slide carousel-multi-item carrusel-home" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top align-items-center justify-content-center" style="display: flex;">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev">
      <i>
        <ion-icon class="next-prev" name="arrow-back-outline"></ion-icon>
      </i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next">
      <i>
        <ion-icon class="next-prev" name="arrow-forward-outline"></ion-icon>
      </i></a>
  </div>
  <!--/.Controls-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook2.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>


      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook3.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook1.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>


    </div>
    <!--/.First slide-->

    <!--Second slide-->


    <div class="carousel-item">

      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook4.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>


      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook5.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4" style="float:left">
        <div class="card mb-2 card-carrusel">
          <img class="card-img-top img-card" src="../img/notebook2.jpg" alt="Card image cap">
          <div class="img-wrap">
            <div class="icons">
              <i class="fa fa-heart fav"></i>

              <a href="#" class="share-card cards-items-color">
                <ion-icon name="share-social-outline"></ion-icon>
              </a>
              <a data-toggle="modal" data-target="#product-create" href="" class="shop-cart cards-items-color">
                <ion-icon name="cart-outline"></ion-icon>
              </a>
            </div>
          </div>

          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Titulo</h4>
              <h4 class="price-card-header">$300</h4>
            </div>

            <p class="card-text">Lorem ipsum dolor sit amet, adipisicing elit. Iusto dolorum
              voluptatum ullam, rerum recusandae numquam architecto ipsum.</p>
            <a href="/detalles" class="card-more cards-items-color">
              <ion-icon class="see-more" name="arrow-forward-circle-outline"></ion-icon>
            </a>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->



  </div>
  <!--/.Slides-->

</div>