<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Digital<span>Mark</span></h3>

    <p class="footer-links">


      <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open">
          <ion-icon style="color: black;" name="color-wand-outline"></ion-icon>
          <!-- <span class="lines line-1"></span>
                <span class="lines line-2"></span>
                <span class="lines line-3"></span> -->
        </label>

        <a href="https://www.facebook.com" class="menu-item blue"> <i class="fa fa-facebook"></i> </a>
        <a href="https://www.instagram.com" class="menu-item green"> <i class="fa fa-instagram"></i> </a>
        <a href="https://ar.pinterest.com" class="menu-item red"> <i class="fa fa-pinterest"></i> </a>
        <a href="https://twitter.com" class="menu-item purple"> <i class="fa fa-twitter"></i> </a>
        <a href="https://www.linkedin.com" class="menu-item orange"> <i class="fa fa-linkedin"></i> </a>
        <a href="https://www.youtube.com" class="menu-item lightblue"> <i class="fa fa-youtube"></i> </a>
      </nav>

    </p>

    <a class="social-button sb-facebook" href="https://www.facebook.com" target="_blank"></a>
    <a class="social-button sb-twitter" href="https://twitter.com/" target="_blank"></a>
    <a class="social-button sb-instagram" href="https://www.instagram.com/" target="_blank"></a>
    <a class="social-button sb-pinterest" href="https://ar.pinterest.com/" target="_blank"></a>

    <p class="footer-company-name">Copyright © 2020 Digital Mark. All Rights Reserved.</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>444 random</span> CABA, Argentina</p>
    </div>

    <div>
      <i class="fa fa-phone"></i><a href="tel:08003337483">
        <p>0800 333 7483</p>
      </a>

    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@digitalmark.com.ar">support@digitalmark.com.ar</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Acerca de nosotros</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
      vehicula sit amet.consectateur adispicing elit,consectateur adispicing elit.
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
      vehicula sit amet.consectateur adispicing elit,consectateur adispicing elit.
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus.
    </p>

  </div>

</footer>