    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/category.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">


    <!-- Icono pagina -->
    <link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon">
    <!-- Scripts fav y goTop -->
    <script src="./js/home.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Audiowide|Iceland|Monoton|Pacifico|Press+Start+2P|Vampiro+One"
        rel="stylesheet" type="text/css">

    <title>Digital Mark</title>