<div class="carrusel">
    <ul>
      <li>
        <img src="./img/1banner.jpg" alt="">
      </li>
      <li>
        <img src="./img/2banner.jpg" alt="">
      </li>
      <li>
        <img src="./img/3banner.jpg" alt="">
      </li>
      <li>
        <img src="./img/4banner.png" alt="">
      </li>
    </ul>
  </div>