
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background:#24303c">
          <div class="modal-header">

            <div>

              <h5 class="modal-title p-login" id="exampleModalLabel">Ingresá a tu cuenta</h5>

            </div>

            <div>
              <a href="#" class="mr-auto a-login" style="text-decoration: none;" data-toggle="modal"
                data-target="#registerModal">Registrate</a>

              <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button></div>
          </div>

          <div class="modal-body" style="text-align:center">

            <section class="row">

              <!--login-->

              <section class="col-12 col-md-12 col-lg-12">

                <form action="login" method="post" style="text-align: center;">

                  <div><label class="datos">Email</label></div>

                  <div><input class="controls" type="email" name="email" id="Email" placeholder="Ingresá tu email">
                  </div>

                  <div><label class="datos">Contraseña</label></div>

                  <div><input class="controls" type="password" name="contraseña" id="contraseña"
                      placeholder="***********">
                  </div>

                  <div><label class="terminos"><a class="a-login" href="#">Olvidé mi contraseña</a></label></div>

                  <div><input class="botons" type="submit" value="Ingresar"></div>

                </form>

                <h4>¿Qué vas a poder hacer en tu cuenta? </h4>

                <p class="p-login">Consultar el estado de tus compras</p>
                <p class="p-login">Descargar las facturas.</p>
                <p class="p-login">Consultar manuales de los productos comprados.</p>
                <p class="p-login">Acceder al historial de productos vistos.</p>
                <p class="a-login"><a data-toggle="modal" data-target="#staticBackdrop" href=""> Ver políticas de
                    privacidad</a></p>

              </section>
            </section>

          </div>
        </div>
      </div>
    </div>