<div id="communication-banner">
    <div class="inner-wrapper">
      <p class="inner-wrapper">
        <img class="fast-shipping-icon" alt=""
          src="//dj4i04i24axgu.cloudfront.net/statics/1.3.247/images/communication-banner/fast-shipping.svg">
      </p>
      <p>
        <strong>Estamos haciendo envíos a domicilio</strong>
        <span>#QuedateEnCasa #TeCuidamosNosCuidamos</span>
      </p>
    </div>
  </div>